*{
	padding:0;
	margin:0
}

body {
	overflow:hidden;
}

a{
	text-decoration:none;
}

#header{
	width:100%;
	height:60px;
	background-color:#F1F1F1;
	position:fixed;
	top:0px !important;
	border-bottom:1px solid #D5D5D5;
}

#results-search-bar-div{
	float:left;
	width:1328px;
}

#results-search-logo{
	float:left;
	margin-right:8px;
	width:228px;
	height:60px;
}

#results-search-bar{
	width:480px;
	font-size:24px;
	height:40px;
	float:left;
	padding-left:5px;
	margin-top:8px;
}

#results-search-bar:focus{
	outline:none;
}

#results-search-button-a{
	display:block;
	width:80px;
	color:white;
	font-family:sans-serif;
	height:37px;
	float:left;
	text-align:center;
	font-size:18px;
	margin-left:8px;
	margin-top:11px;
}

#results-search-button-div{
	background-color:#00BFFF;
	border-radius:5px;
	padding:8px;
	transition:all .2s;
}

#results-search-button-div:hover{
	opacity:.7;
}

/*Particular to admin*/
#member-buttons-div{
	float:right;
	width:110px;
	height:60px;
}

.results-button-a{
	display:block;
	float:left;
	height:37px;
	color:white;
	margin-left:10px;
	font-family:sans-serif;
	transition:all .2s;
	overflow:auto;
	margin-top:11px;
}

.results-button-div{
	background-color:#00BFFF;
	border-radius:5px;
	padding:8px;
	height:21px;
}

.results-button-div img{
	width:18px;
	margin-left:5px;
	position:relative;
}

#admin-profile{
	height:36px;
	float:right;
	display:block;
	margin-right:20px;
	margin-top:12px;
	overflow:auto;
	transition:opacity .5s;
}

#admin-profile-img{
	width:30px;
	display:block;
	position:relative;
	top:2px;
	left:3px;
}

#profile-img-wrapper{
	height:36px;
	width:36px;
	border-radius:18px;
	background-color: #00BFFF;
	float:right;
	margin-right:10px;
}

#profile-p{
	font-family:sans-serif;
	font-size:14px;
	float:right;
	margin-top:10px;
	color:#00BFFF;
}

#admin-profile:hover{
	opacity:.6;
}

.dropdown-menu {
	width:190px;
	margin-top:-28px;
	background-color:#f1f1f1;
	transition: height .5s;
	overflow:hidden;
	right:0;
	position:fixed;
	height:0px;
}

#update-dropdown-menu {
	margin-right:415px;
	height:100px;
	border-bottom:1px solid #d5d5d5;
}

#update-dropdown-menu a{
	border-right:1px solid #d5d5d5;
}

#admin-dropdown-menu {
}

.dropdown-menu p{
	font-family:sans-serif;
	color:#00BFFF;
}

.dropdown-menu a{
	display:block;
	padding:8px;
	border-left:1px solid #d5d5d5;

	transition:background-color .2s;
}

#admin-dropdown-menu a:hover{
	background-color:#F9F9F9;
}

.results-button-a:hover{
	opacity:.7;
}
/*end admin*/

/*Particular to user*/
#search-results-wrapper-div{
	margin-top:89px;
}

#filter-buttons{
	background-color:white;
	height:20px;
	padding:40px 0;
	margin-left:30px;
}

.filter{
	float:left;
	border-right:1px solid #c2c2c2;
}

.filter  p{	
	font-family:sans-serif;
	float:left;
	width:100px;
	margin-left:15px;
	transition:all .5s;
}

.inactive:hover p{
	color:gray;
}

.inactive:hover img{
	opacity:.5;
}

.triangle-filter{
	width:18px;	
	margin-right:15px;
	transition:opacity 1s;
}

.inactive{	
	color:#c2c2c2;
}

.active{
	color:gray;
}

.inactive-triangle{
	opacity: 0;
}

#piece{
	border-left:1px solid #c2c2c2;
}

#all-search-results-div{
	margin-left:85px;
	display:inline-block;
	max-height:550px;	
	overflow-y: scroll;
	overflow-x: hidden;
}

.column{
	display:inline-block;
	width:630px;
	float:left;
}

.search-result{
	overflow:auto;
	padding:20px 0;
	width:600px;
	border-radius:3px;
	-webkit-box-shadow: 9px 11px 28px -16px rgba(145,145,145,1);
	-moz-box-shadow: 9px 11px 28px -16px rgba(145,145,145,1);
	box-shadow: 9px 11px 28px -16px rgba(145,145,145,1);
	margin-right:15px;
	margin-left:15px;
}

.first{
	/*margin-top:15px;*/
}

.admin{
	margin-bottom:15px;
}

.search-result-gray{	
	background-color:#e6e6e6;
}

.critique-div{
	width:600px;
	height:0;
	margin-left:15px;
	background-color:rgba(215, 215, 215, .25);
	overflow:hidden;
	transition:height 1s;
	margin-bottom:15px;
}

.critique-p{
	font-family:sans-serif;
	float:left;
	margin-top:6px;
	margin-left:30px;
}

.critique-checkbox{
	float:left;
	margin-top:9px;
	margin-left:10px;
}

.data-wrapper{
	margin-left:30px;
	float:left;
}

.title-link{
	color:black;
}

.title-link p:hover {
	opacity:.5;
}

.title-p{
	font-size: 25px;
	float:left;
	max-width:371px;
	transition:opacity .2s;
}
.artist-p{
	color:#7B7B7B;
	font-style: oblique;
	float: left;
}

.institution-p{
	font-size:12px;
	margin-top:3px;
	margin-left:5px;
	float:left;
	color:#7b7b7b;
	font-style:italic;
}

.location-p{
	font-size: 12px;
	color:#7b7b7b;
	margin-top:3px;
	margin-left: 5px;
	float:left;
	font-style:italic;
}

.search-result-data{
	font-family:sans-serif;
}

.location-p{
	width:118px;
}

.result-buttons{
	width:230px;
	height:20px;
	margin-top:12px;
}

.result-button{
	display:inline-block;
	margin-right:20px;
}

.result-button p{
	font-family:sans-serif;
	font-size:13px;
	color:gray;
}

.critique-info {
	font-family:sans-serif;
	color:#7B7B7B;
	font-style: oblique;
	font-size:12px;
	margin-left: 65px;
	display:none;
}

.critiqued{
	background-color: #D0EBFF;	
}

.uncritiqued{
	background-color: #EBEBEB;
}

.user-critique {
	float:left;
	margin-left:11px;
	margin-top:10px;
}

.critique-div input {
	height:20px;
	margin-top:8px;
	float:left;
	border:none;
	padding:1px;
	padding-left:6px;
}

.critique-div input:focus {
	outline:none;
}

.user-name {
	width:150px;
	margin-left:8px;
}

.user-email {
	width:200px;
	margin-left:3px;
}

.user-critique-submit {
	float:left;
	margin-top:12px;
	margin-left:11px;
	font-size:13px;
	font-family: sans-serif;
	color:#00BFFF;
	transition:opacity .2s;
}

.user-critique-submit:hover {
	opacity:.6;
}

.data-input{
	font-size:16px;
	padding:5px;
	width:170px;
	border: 1px solid #D6D6D6;
	resize:none;
}

.title-input{
	font-size: 30px;
	width:370px;
}

.institution-input, .location-input{
	font-size:12px;
	min-height:16px;
}

.institution-input {
	display:none;
}

.location-input{
	width:130px;
}

.data-input:focus{
	outline:none;
}

/* ============= VARIOUS WINDOWS ============= */
/* LOGIN, 
 * UPDATE PASSWORD, 
 * ADD NEW ENTRY, 
 * CLEAR DATABASE, 
 * UPDATE DATABASE 
 */

#overlay {
	width:1436px;
	height:750px;
	position:absolute;
	top:0px;
	display:none;	
	z-index:5;
}

.blur-filter {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.window-back-wrapper {
	position:absolute;
	display:inline-block;
	right:-400px;
	margin-right:-175px;
	transition:right .5s;
	top:50%;
	margin-top:-150px;
	z-index:6;
}

.window-wrapper{
	width:350px;

	border-radius:20px;
	background-color:white;
	border:1px gray solid;

	opacity:.9;

	transition:top .5s;

	float:left;
}

.x-a{
	font-family:sans-serif;
	font-size:1.5em;
	color:black;
	display:block;
	float:right;
	margin-right:15px;
	margin-top:10px;
	position:relative;
}

.error-message{
	font-family:sans-serif;
	color:#FA5858;
	font-size:12px;
	position:relative;
	top:40px;
	opacity:0;
	transition:opacity 1s;
}

.error-message{
	font-family:sans-serif;
	color:#FA5858;
	font-size:12px;
	position:relative;
	top:40px;
	opacity:0;
	transition:opacity 1s;
}

.form-input{
	height:30px;
	width:200px;	
	font-size:20px;
	display:block;
	margin:0 auto;
	border:1px gray solid;
	padding:5px;
}

.form-input:focus{
	outline:none;
}

.window-submit{
	display:block;
	width:80px;
	margin-top:20px;
	font-size:20px;
}

.window-submit div{
	padding:5px;
}

.login-password-change {
	position:absolute;
	top:-350px;
	left:50%;
	margin-left:-175px;
	transition: top .5s;
	z-index:6;
}

.back-arrow {
	display:inline-block;
	float:left;
	margin-top:111px;
	display:none;
}

.back-arrow img {
	width: 28px;
	opacity:.6;
}

/* =========== BEGIN LOGIN WINDOW ============ */

#login-wrapper{
	height:255px;
	margin-top:-123px;
}

#login-form{
	width:212px;
	margin:0 auto;
}

#login-error{
	top:55px;
}

#username{
	margin-top:60px;
}

#password{
	margin-top:20px;
}

#submit-login{
	margin-left:133px;
	text-align:center;
}

#submit-login-div{
	padding:8px;
}

/* =========== END LOGIN WINDOW ============ */

/* =========== BEGIN CHANGE PASSWORD WINDOW ============ */
#change-password-wrapper{
	height:270px;
	margin-top:-135px;
}

#password-error{
	margin-left:70px;
}

#old_password{
	margin-top:45px;
}

#confirm_password{
	margin-top:5px;
}

#submit-change-password{
	margin-left:200px;
}

/* =========== END CHANGE PASSWORD WINDOW ============ */

/* =========== BEGIN ADD NEW ENTRY WINDOW ============ */

#new-entry-wrapper{
	height:272px;
	margin-left:20px;
}

#new-title-input{
	margin-top:42px;
}

#new-artist-input, #new-institution-input, #new-location-input{
	margin-top:7px;
}

#submit-new-entry{
	margin-left:201px;
}

#create-new-error{
	margin-left:70px;
}

/* =========== END ADD NEW ENTRY WINDOW ============ */

/* =========== BEGIN CLEAR DATABASE WINDOW ============ */
#clear-database-wrapper{
	height:280px;
	margin-left:20px;
}

#submit-clear-database{
	margin-left:200px;
}

#clear-username{
	margin-top:45px;
}

#clear-password{
	margin-top:20px;
}

#clear-database-error{
	margin-left:70px;
}

#confirm-clear-message{
	font-family:sans-serif;
	width:200px;
	margin-left:70px;
	position:relative;
	top:30px;
	color:gray;
}

/* =========== END CLEAR DATABASE WINDOW ============ */

/* =========== BEGIN UPDATE DATABASE WINDOW ============ */
#update-wrapper {
	position:absolute;
	height: 280px;
	margin-top:-140px;
	top:50%;
	margin-right:-175px;
	right:-350px;
	transition:right .5s;
	z-index:6;
}

.update-database-button {
	font-family:sans-serif;
	font-size:24px;
	padding:12px;
	display:block;
	text-align:center;
	margin-top:2px;
}

.update-database-button p {
	color:#00BFFF;
	transition:opacity .5s;
	padding:5px;
	border: 1px solid white;
	border-radius:3px;
}

#add-new-entry {
	margin-top:50px;
}

.update-database-button:hover {

}

.update-database-button:hover p {
	border-color:#d5d5d5;
}

/* =========== END UPDATE DATABASE WINDOW ============ */

.style-6::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: none;
}

.style-6::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.style-6::-webkit-scrollbar-thumb
{
	background-color: #00BFFF;	
	background-image: -webkit-linear-gradient(45deg,
  	rgba(255, 255, 255, .2) 25%,
  	transparent 25%,
  	transparent 50%,
  	rgba(255, 255, 255, .2) 50%,
  	rgba(255, 255, 255, .2) 75%,
  	transparent 75%,
  	transparent)
}

.clearer{
	clear:both;
}

#entry-count {
	margin-top:12px;
}

#entry-count p {
	float:right;
	margin-right:12px;
	font-family:sans-serif;
}
